@model MediaNoche.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>פרטים</h2>

<div>
    <h4>חדשות</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateForDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateForDate)
        </dd>

    </dl>
</div><div class="Extra"  style="display:inline-block">
          <p>
              @Html.ActionLink("ערוך", "Edit", new { id = Model.ID }) |
          </p>
</div>
<p>
    @Html.ActionLink("חזור", "Index")
</p>

