@model MediaNoche.Models.Excersize

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Excersize</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

    </dl>
</div>
<div class="Extra"  style="display:inline-block">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    </p>
</div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

