@model MediaNoche.Models.Lesson

@{
    ViewBag.Title = "Delete";
}

<h2>מחק</h2>

<h3>האם אתה בטוח שברצונך למחוק s?</h3>
<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonNum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            @Html.ActionLink("חזור", "Index")
        </div>
    }
</div>
