@model IEnumerable<MediaNoche.Models.EveningLesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="Extra"  style="display:inline-block">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActiveID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonNum)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonNum)
                </td>
                <td>
                    @Html.ActionLink("פרטים", "Details", new { id = item.ID })
                    <div class="Extra"  style="display:inline-block">
                        |
                        @Html.ActionLink("ערוך", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("מחק", "Delete", new { id = item.ID })
                    </div>
                </td>
            </tr>
        }

    </table>

 
