<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <div class="header">
            <a href="index.html" id="logo"><img src="Images/logo.png" alt="logo" style="width:146px;height:146px;"></a>
            <div>
                <div>
                    <a>
                        @Html.ActionLink("התחברות", "Login", "Account")
                    </a>
                    <span>|</span> <a>
                        @Html.ActionLink("הרשמה", "Register", "Account")
                    </a>
                </div>
                <div>
                    <ul>
                        <li class="selected">@Html.ActionLink("מפעילים", "Index", "Active")</li>
                        <li>@Html.ActionLink("ערבים", "Index", "Evening")</li>
                        <li>@Html.ActionLink("שיעורי ערב", "Index", "EveningLesson")</li>
                        <li>@Html.ActionLink("תרגילם", "Index", "Excersize")</li>
                        <li>@Html.ActionLink("שיעורים", "Index", "Lesson")</li>
                    </ul>
                    <form action="index.html">
                        <input type="text" onclick="this.value='';"
                               onfocus="this.select()"
                               onblur="this.value=!this.value?'חפש':this.value;"
                               value="Enter search query">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="active">
                <iframe src='http://www.israelweather.co.il/weather_out.asp?code_width=250&height=200&code_color=white&code_font_color=black' width=250 height=200 dir=rtl name='in_frame' frameborder='1' scrolling='No'></iframe>
                @RenderBody()
            </div>
            <div class="footer">
                <div>
                    <div>
                        <ul>
                            <li class="selected">@Html.ActionLink("אודות", "Index", "Active")</li>
                            <li>@Html.ActionLink("צור קשר", "Index", "Evening")</li>
                            <li>@Html.ActionLink("סניפים", "Index", "Location")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    if (Page.User.IsInRole("Admins"))
    {
        $(this).css(".Extra");
    }

    </script> 
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
